@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

body {
  /* background-color: #333; */
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Montserrat", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Montserrat", monospace;
}

#searchForm,
.card {
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.5);
}

#separator {
  padding-bottom: 5px;
  border-bottom: 1px solid #333;
}

button:focus {
  outline: none;
}
